<div class="loading" *ngIf="showLoading">
    <img src="https://www.transitions.com/Global/stylefix/loading.gif" alt="loading" />
</div>
<div class="loading" *ngIf="showMessage">
    <div class="message">{{popupMessage}}
        <p><a  class="btn btn-info" (click)='onOk()'>OK</a></p>
    </div>
</div>