<div class="container" style="width: 1250px;">
    <app-modal></app-modal>
    <div class="row">
        <h2>Authorization for Capital Transactions</h2>
        <br />
    </div>
    <div class="row">
        <hr />
    </div>

    <div class="form-group">
        <div class="row">
            <button type="submit" class="btn btn-info" (click)="newItem()">New </button> 
            <div class="col-md-4"><button type="button" class="btn btn-info" (click)='onViewAll()' style="width: 180px">Back</button></div>
        </div>
    </div>


    <div class="form-group">
        <div class="row">
            <br />
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-3"><strong>Search :</strong> <small> Project Name</small> </div>
            <div class="col-md-4">
                <input type="text" class="form-control" [(ngModel)]='listFilter' />
            </div>
        </div>
    </div>



    <div class="form-group">
        <div class="row">
            <div class="table-responsive">
                <table class='table' *ngIf='items && items.length'>
                    <thead>
                        <th></th>
                        <th>Id</th>
                        <th>Project Name</th>
                        <th>Project Manager</th>
                        <th>Region</th>
                        <th>Classification</th>
                        <th>Project Description</th>
                        <th>Start Construction</th>
                        <th>Start-up Date</th>
                        <th>Economic Life in Years</th>
                        <th>ACT Amount in $ USD</th>
                        <th>Status</th>
                        <th>ACT # (if known)</th>
                        <th>Does this ACT need EH&S review?</th>
                        <th>Investment Category</th>
                        <th>Budget Category</th>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of filteredItems | paginate: { itemsPerPage: 10, currentPage: p }'>
                            <td>
                                <tr>
                                <button type="button" class="btn btn-primary"
                                    (click)="btnRoute(item.id)" name="view" style="margin-bottom: 5px;" >View</button> 
                                    </tr>
                                    <tr>
                                        <td>
                                                <button type="button" class="btn btn-primary"
                                                (click)="btnRoute1(item.id)" name="edit" *ngIf="(item.createdByEmail == this.authService.email)">Edit</button>  
                                       
                                                
                                        </td>
                                    </tr>
                            </td> 
                           
                            <td>{{item.id}}</td>
                            <td>{{item.projectName}}</td>
                            <td>{{item.projectManagerName}}</td>
                            <td>{{item.region}}</td>
                            <td>{{item.classification}}</td>
                            <td>{{item.projectDescription | slice:0:30}} ...</td>
                            <td>{{item.startContruction.substring(0, 10)}}</td>
                            <td>{{item.startUpDate.substring(0, 10)}}</td>
                            <td>{{item.economicLife}}</td>
                            <td>{{item.actAmount}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.actNumber}}</td>
                            <td>{{item.doesNeedEHSReview}}</td>
                            <td>{{item.invesmentCategory}}</td>
                            <td>{{item.budgetCategory}}</td>
                        </tr>

                    </tbody>
                </table>

                <pagination-controls (pageChange)="p = $event"></pagination-controls>

            </div>
        </div>

    </div>

</div>