main {
	margin-left: 0px;
}

form {
	width: 100%;
	padding: 2%;
}

.container{
	background-color: #fbfbf9;
	
}

.logo {
	height: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

input.ng-invalid, select.ng-invalid {
  border-left: 5px solid #a94442 !important;
}

input.ng-valid, select.ng-valid {
  border-left: 5px solid #42A948 !important;
}

.navbar-default {
	background-color: #171616;
	border-color: rgba(255,255,255,.15);
}

.control-center{
	width: 100%;
	padding-top:40px;
	text-align: center; 
}

.navbar-right {
	float: right!important;
	margin-right: 1px;
	color: white;
}


.google-avatar{
	border-radius: 50%;
	width: 70%;
	padding-top: 10px;
	max-width: 100px;
}

.navbar-nav>li {
	text-align: center;
}

.form-option{
	height: 30px;
	width: 20px;
}

.label-option{
	padding-left: 10px;
	position: absolute;
	padding-top: 10px;
}

.center-text{
	text-align: center;
}
.right-align{
	text-align: right;
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}
.right-align div:first-child{
	margin-right: 146px;
}
.details table{
	width: 100%;
    border: 1px solid;
}
.details td{
	border: 1px solid black;
	padding: 2px;
}
.details tr:first-child{
	font-weight: bold;
} 
.loading{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background:  rgb(0, 0, 0, .5);
	z-index: 999; 
}
.loading.active{
    display: block;
}
.loading img{
    width: 80px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.loading .message{
	position: fixed;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: white;
    padding: 20px;
    border: 2px solid gray;
	border-radius: 10px;
	min-width: 200px;
    text-align: center;
}
.loading .btn-info{
	margin-top: 20px;
}
.loading .btn{
	margin-right: 0px;
}
.form-control.months{
	display: inline !important; 
	width: 35%;
}
.footerTR{
	font-weight: bold;
	background-color: gainsboro;
}