<div class="container">
     <div class="form-group">
          <div class="row">
   
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Select user" aria-label="Select user" [matAutocomplete]="auto" formControlName='userInput'>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let user of filteredStates | async" [value]="user.name">
            <span><strong>{{user.name}}</strong></span> 
            <small><em> ({{user.email}})</em></small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
     </div>
      <div class="form-group">
          <div class="row">
                <mat-form-field class="example-full-width">
                        <input matInput placeholder="Select user" aria-label="Select user" [matAutocomplete]="auto" [formControl]="stateCtrl">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let user of filteredStates | async" [value]="user.name">
                            <span><strong>{{user.name}}</strong></span> 
                            <small><em> ({{user.email}})</em></small>
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
          </div>
      </div>
 
  </div>