<div class="container">
    <form [formGroup]="displayForm">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="ProjectName">
                        Project Name</label>
                </div>
                <div class="col-md-8">
                    {{displayForm.value.projectName}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="ProjectManagerName">Project Manager</label>
                </div>
                <div class="col-md-8">
                    {{displayForm.value.projectManagerName}}
                </div>
            </div>
        </div>
        <div class="form-group" *ngIf="!isCurrent">
            <div class="row">
                <div class="col-md-4">
                    <label for="Location">Location</label>
                </div>
                <div class="col-md-8">
                    {{displayForm.value.location}}
                </div>
            </div>
        </div>
        <div class="form-group" *ngIf="isCurrent">
            <div class="row">
                <div class="col-md-4">
                    <label for="Location">Region</label>
                </div>
                <div class="col-md-8">
                    {{displayForm.value.region}}
                </div>
            </div>
        </div>
        <div class="form-group" *ngIf="isCurrent">
            <div class="row">
                <div class="col-md-4">
                    <label for="Location">Entity</label>
                </div>
                <div class="col-md-8">
                    {{displayForm.value.entity}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="Classification">Classification</label>
                </div>
                <div class="col-md-8">
                    {{displayForm.value.classification}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="ProjectDescription">
                        Project Description</label>
                </div>
                <div class="col-md-8">
                    {{displayForm.value.projectDescription}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="StartContruction">Start Construction</label>
                </div>
                <div class="col-md-8">
                    {{displayForm.value.startContruction}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="StartUpDate">Start-up Date</label>
                </div>
                <div class="col-md-8">
                    {{displayForm.value.startUpDate}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="EconomicLife">Economic Life in Years</label>
                </div>
                <div class="col-md-4">
                    {{displayForm.value.economicLife}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="ProjectIRR">Project IRR % (if applicable)</label>
                </div>
                <div class="col-md-4">
                    {{displayForm.value.projectIRR}}%
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="ProjectCashPaybackYears">
                        Project Cash Payback Years (if applicable)</label>
                </div>
                <div class="col-md-8">
                    {{displayForm.value.projectCashPaybackYears}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="ProjectROC">Project ROC % (if applicable)</label>
                </div>
                <div class="col-md-4">
                    {{displayForm.value.projectROC}}%
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="ACTAmount">ACT Amount in $ USD </label>
                </div>
                $<div class="col-md-4">
                    {{displayForm.value.actAmount}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="ACTNumber">
                        ACT # (if known)</label>
                </div>
                <div class="col-md-8">
                    {{displayForm.value.actNumber}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="DoesNeedEHSReview">
                        Does this ACT need EH&S review?</label>
                </div>
                <div class="col-md-8">
                    {{displayForm.value.doesNeedEHSReview}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="InvesmentCategory">Investment Category</label>
                </div>
                <div class="col-md-8">
                    {{displayForm.value.invesmentCategory}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="BudgetCategory">Budget Category</label>
                </div>
                <div class="col-md-8">
                    {{displayForm.value.budgetCategory}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="ACTAccountNumber">
                        ACT G/L account number</label>
                </div>
                <div class="col-md-8">
                    {{displayForm.value.actAccountNumber}}
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>
                        Attachment/s</label>
                </div>
                <div class="col-md-8">
                    <div *ngFor="let selectedAffected of listOfFilesAffectedSaved;let index = index">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="divclick"
                                        (click)="downloadAttachment(selectedAffected.filename,selectedAffected.itemID)">
                                        {{selectedAffected.filename}} </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>
                        Status</label>
                </div>
                <div class="col-md-8">
                    <h2>{{displayForm.value.status}}</h2>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </div>

        <table class='table'>
            <thead>
                <th style="width: 35%;"></th>
                <th>Approver</th>
                <th>Approval</th>
                <th>Comment</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngIf="showEhsapp == true">
                    <td>EHS Approver</td>
                    <td>{{displayForm.value.wfehsApprover}}
                        {{displayForm.value.wfehsApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfehsApproverApproval}}
                        {{displayForm.value.wfehsApproval}}
                    </td>
                    <td>{{displayForm.value.wfehsApproverComment}}
                        {{displayForm.value.wfehsComment}}
                    </td>
                    <td><button type="button" *ngIf="showEhsappbtn == true && displayForm.value.status != 'Approved'"
                            class="btn btn-info" (click)="showApproval(displayForm.value.id)">Edit this
                            task</button></td>
                </tr>
                <tr *ngIf="showEhsrev">
                    <td>EHS Reviewer 1</td>
                    <td>{{displayForm.value.wfehsReviewer}}
                        {{displayForm.value.wfehsReviewer2Details}}
                    </td>
                    <td>{{displayForm.value.wfehsReviewerApproval}}
                        {{displayForm.value.wfehsReviewer2}}
                    </td>
                    <td>{{displayForm.value.wfehsReviewerComment}}
                        {{displayForm.value.wfehsReviewer2Comment}}
                    </td>
                    <td><button type="button" *ngIf="showEhsrevbtn == true && displayForm.value.status != 'Approved'"
                            class="btn btn-info" (click)="showApproval(displayForm.value.id)">Edit this
                            task</button></td>
                </tr>
                <tr *ngIf="showSPRev">
                    <td>S&P Reviewer</td>
                    <td>{{displayForm.value.wfspReviewer}}
                        {{displayForm.value.wfbU3ApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfspReviewerApproval}}
                        {{displayForm.value.wfbU3Approval}}
                    </td>
                    <td>{{displayForm.value.wfspReviewerComment}}
                        {{displayForm.value.wfbU3Comment}}
                    </td>
                    <td><button type="button" *ngIf="showSPRevbtn == true && displayForm.value.status != 'Approved'"
                            class="btn btn-info" (click)="showApproval(displayForm.value.id)">Edit this
                            task</button></td>
                </tr>
                <tr *ngIf="showBU1">
                    <td>Business Unit Approver 1</td>
                    <td>{{displayForm.value.wfbU1Approver}}
                        {{displayForm.value.wfbU1ApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfbU1ApproverApproval}}
                        {{displayForm.value.wfbU1Approval}}
                    </td>
                    <td>{{displayForm.value.wfbU1ApproverComment}}
                        {{displayForm.value.wfbU1Comment}}
                    </td>
                    <td><button type="button" *ngIf="showBU1btn == true && displayForm.value.status != 'Approved'"
                            class="btn btn-info" (click)="showApproval(displayForm.value.id)">Edit this
                            task</button></td>
                </tr>

                <tr *ngIf="showBU2 == true">
                    <td>Business Unit Approver 2</td>
                    <td>{{displayForm.value.wfbU2Approver}}
                        {{displayForm.value.wfbU2ApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfbU2ApproverApproval}}
                        {{displayForm.value.wfbU2Approval}}
                    </td>
                    <td>{{displayForm.value.wfbU2ApproverComment}}
                        {{displayForm.value.wfbU2Comment}}
                    </td>
                    <td><button type="button" *ngIf="showBU2btn == true && displayForm.value.status != 'Approved'"
                            class="btn btn-info" (click)="showApproval(displayForm.value.id)">Edit this
                            task</button></td>
                </tr>

                <tr *ngIf="showFinApp1">
                    <td>Finance Approver 1</td>
                    <td>{{displayForm.value.wfFinanceApprover1}}
                        {{displayForm.value.wfFinance1ApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfFinanceApprover1Approval}}
                        {{displayForm.value.wfFinance1Approval}}
                    </td>
                    <td>{{displayForm.value.wfFinanceApprover1Comment}}
                        {{displayForm.value.wfFinance1Comment}}
                    </td>
                    <td><button type="button" *ngIf="showFin1btn == true && displayForm.value.status != 'Approved'"
                            class="btn btn-info" (click)="showApproval(displayForm.value.id)">Edit this
                            task</button></td>
                </tr>
                <tr *ngIf="showGlobalFinApp1">
                    <td>Global Finance Approver 1</td>
                    <td>{{displayForm.value.wfGlobalFinanceApprover1}}
                        {{displayForm.value.wfFinance2ApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfGlobalFinanceApprover1Approval}}
                        {{displayForm.value.wfFinance2Approval}}
                    </td>
                    <td>{{displayForm.value.wfGlobalFinanceApprover1Comment}}
                        {{displayForm.value.wfFinance2Comment}}
                    </td>
                    <td><button type="button"
                            *ngIf="showGlobalFinApp1btn == true && displayForm.value.status != 'Approved'"
                            class="btn btn-info" (click)="showApproval(displayForm.value.id)">Edit this
                            task</button></td>
                </tr>
                <tr *ngIf="showFA1">
                    <td>Final Approver 1</td>
                    <td>{{displayForm.value.wfFinalApprover1}}
                        {{displayForm.value.wfApprover1ApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfFinalApprover1Approval}}
                        {{displayForm.value.wfApprover1Approval}}
                    </td>
                    <td>{{displayForm.value.wfFinalApprover1Comment}}
                        {{displayForm.value.wfApprover1Comment}}
                    </td>
                    <td><button type="button" *ngIf="showFA1btn == true && displayForm.value.status != 'Approved'"
                            class="btn btn-info" (click)="showApproval(displayForm.value.id)">Edit this
                            task</button></td>
                </tr>
                <tr *ngIf="showFA2">
                    <td>Final Approver 2</td>
                    <td>{{displayForm.value.wfFinalApprover2}}
                        {{displayForm.value.wfApprover2ApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfFinalApprover2Approval}}
                        {{displayForm.value.wfApprover2Approval}}
                    </td>
                    <td>{{displayForm.value.wfFinalApprover2Comment}}
                        {{displayForm.value.wfApprover2Comment}}
                    </td>
                    <td><button type="button" *ngIf="showFA2btn == true && displayForm.value.status != 'Approved'"
                            class="btn btn-info" (click)="showApproval(displayForm.value.id)">Edit this
                            task</button></td>
                </tr>
                <tr *ngIf="showFA3">
                    <td>Final Approver 3</td>
                    <td>{{displayForm.value.wfFinalApprover3}}
                        {{displayForm.value.wfApprover3ApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfFinalApprover3Approval}}
                        {{displayForm.value.wfApprover3Approval}}
                    </td>
                    <td>{{displayForm.value.wfFinalApprover3Comment}}
                        {{displayForm.value.wfApprover3Comment}}
                    </td>
                    <td><button type="button" *ngIf="!showFA3btn == false && displayForm.value.status != 'Approved'"
                            class="btn btn-info" (click)="showApproval(displayForm.value.id)">Edit this
                            task</button></td>
                </tr>
                <tr *ngIf="showFA4">
                    <td>Final Approver 4</td>
                    <td>{{displayForm.value.wfFinalApprover4}}
                        {{displayForm.value.wfApprover4ApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfFinalApprover4Approval}}
                        {{displayForm.value.wfApprover4Approval}}
                    </td>
                    <td>{{displayForm.value.wfFinalApprover4Comment}}
                        {{displayForm.value.wfApprover4Comment}}
                    </td>
                    <td><button type="button" *ngIf="showFA4btn == true && displayForm.value.status != 'Approved'"
                            class="btn btn-info" (click)="showApproval(displayForm.value.id)">Edit this
                            task</button></td>
                </tr>
                <tr *ngIf="showFA5">
                    <td>Final Approver 5</td>
                    <td>{{displayForm.value.wfFinalApprover5}}
                        {{displayForm.value.wfApprover5ApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfFinalApprover5Approval}}
                        {{displayForm.value.wfApprover5Approval}}
                    </td>
                    <td>{{displayForm.value.wfFinalApprover5Comment}}
                        {{displayForm.value.wfApprover5Comment}}
                    </td>
                    <td><button type="button" *ngIf="showFA5btn == true && displayForm.value.status != 'Approved'"
                            class="btn btn-info" (click)="showApproval(displayForm.value.id)">Edit this
                            task</button></td>
                </tr>
                <tr *ngIf="showFA6">
                    <td>Final Approver 6</td>
                    <td>{{displayForm.value.wfFinalApprover6}}
                        {{displayForm.value.wfApprover6ApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfFinalApprover6Approval}}
                        {{displayForm.value.wfApprover6Approval}}
                    </td>
                    <td>{{displayForm.value.wfFinalApprover6Comment}}
                        {{displayForm.value.wfApprover6Comment}}
                    </td>
                    <td><button type="button" *ngIf="showFA6btn == true && displayForm.value.status != 'Approved'"
                            class="btn btn-info" (click)="showApproval(displayForm.value.id)">Edit this
                            task</button></td>
                </tr>
                
                <tr *ngIf="showFA7">
                    <td>Final Approver 7</td>
                    <td>{{displayForm.value.wfApprover7ApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfApprover7Approval}}
                    </td>
                    <td>{{displayForm.value.wfApprover7Comment}}
                    </td>
                </tr>

                <!--new matrix-->
                <tr *ngIf="showBusUnit">
                    <td>Business Unit Approver</td>
                    <td>{{displayForm.value.wfbU1Approver}}
                        {{displayForm.value.wfbU1ApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfbU1ApproverApproval}}
                        {{displayForm.value.wfbU1Approval}}
                    </td>
                    <td>{{displayForm.value.wfbU1ApproverComment}}
                        {{displayForm.value.wfbU1Comment}}
                    </td>
                    <td><button type="button" *ngIf="showBU1btn == true && displayForm.value.status != 'Approved'"
                            class="btn btn-info" (click)="showApproval(displayForm.value.id)">Edit this
                            task</button></td>
                </tr>
                <tr *ngIf="showRegFin">
                    <td>Regional Finance Approver</td>
                    <td>{{displayForm.value.wfFinanceApprover1}}
                        {{displayForm.value.wfFinance1ApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfFinanceApprover1Approval}}
                        {{displayForm.value.wfFinance1Approval}}
                    </td>
                    <td>{{displayForm.value.wfFinanceApprover1Comment}}
                        {{displayForm.value.wfFinance1Comment}}
                    </td>
                    <td><button type="button" *ngIf="showFin1btn == true && displayForm.value.status != 'Approved'" class="btn btn-info"
                        (click)="showApproval(displayForm.value.id)">Edit this
                        task</button></td>
                </tr>
                <tr *ngIf="showBusApp == true">
                    <td>Business Approver</td>
                    <td>{{displayForm.value.wfbU2Approver}}
                        {{displayForm.value.wfbU2ApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfbU2ApproverApproval}}
                        {{displayForm.value.wfbU2Approval}}
                    </td>
                    <td>{{displayForm.value.wfbU2ApproverComment}}
                        {{displayForm.value.wfbU2Comment}}
                    </td>
                    <td><button type="button" *ngIf="showBU2btn == true && displayForm.value.status != 'Approved'"
                            class="btn btn-info" (click)="showApproval(displayForm.value.id)">Edit this
                            task</button></td>
                </tr>
                <tr *ngIf="showGlobalFinApp">
                    <td>Global Finance Approver</td>
                    <td>{{displayForm.value.wfGlobalFinanceApprover1}}
                        {{displayForm.value.wfFinance2ApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfGlobalFinanceApprover1Approval}}
                        {{displayForm.value.wfFinance2Approval}}
                    </td>
                    <td>{{displayForm.value.wfGlobalFinanceApprover1Comment}}
                        {{displayForm.value.wfFinance2Comment}}
                    </td>
                    <td><button type="button"
                            *ngIf="showGlobalFinApp1btn == true && displayForm.value.status != 'Approved'"
                            class="btn btn-info" (click)="showApproval(displayForm.value.id)">Edit this
                            task</button></td>
                </tr>
                <tr *ngIf="showExecApp">
                    <td>Exec Approver</td>
                    <td>{{displayForm.value.wfFinalApprover5}}
                        {{displayForm.value.wfApprover5ApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfFinalApprover5Approval}}
                        {{displayForm.value.wfApprover5Approval}}
                    </td>
                    <td>{{displayForm.value.wfFinalApprover5Comment}}
                        {{displayForm.value.wfApprover5Comment}}
                    </td>
                    <td><button type="button" *ngIf="showFA5btn == true && displayForm.value.status != 'Approved'"
                            class="btn btn-info" (click)="showApproval(displayForm.value.id)">Edit this
                            task</button></td>
                </tr>
                <tr *ngIf="showCFOApp">
                    <td>Group CFO Approver</td>
                    <td>{{displayForm.value.wfFinalApprover6}}
                        {{displayForm.value.wfApprover6ApprovalDetails}}
                    </td>
                    <td>{{displayForm.value.wfFinalApprover6Approval}}
                        {{displayForm.value.wfApprover6Approval}}
                    </td>
                    <td>{{displayForm.value.wfFinalApprover6Comment}}
                        {{displayForm.value.wfApprover6Comment}}
                    </td>
                    <td><button type="button" *ngIf="showFA6btn == true && displayForm.value.status != 'Approved'"
                            class="btn btn-info" (click)="showApproval(displayForm.value.id)">Edit this
                            task</button></td>
                </tr>
                

            </tbody>
        </table>
        <div class="form-group left-align">
            <div>
            </div>
            <div>
                <!-- <button type="button" class="btn btn-info" name="resend" (click)='onResend()'>Resend</button> -->
                <button type="button" class="btn btn-info" name="cancel" (click)='onCancel()'>Cancel</button>
            </div>
        </div>
    </form>
</div>