<div class="container">
    <app-modal></app-modal>
    <h5>Please remember when you are submitting an ACT for approval <b><u>you must attached the ACT documents</u></b> to
        this online
        approval form as the instructions state. If not then the ACT will not be approve and it will need to be
        resubmitted for approval with the proper ACT documents attached to it.</h5>
    <form [formGroup]="heroForm">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="ProjectName">
                        Project Name *</label>
                </div>
                <div class="col-md-8">
                    <input type="text" formControlName="projectName" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="ProjectManagerName">Project Manager *</label>
                </div>
                <div class="col-md-8">
                    <mat-form-field class="example-full-width">
                        <input class="form-control" matInput [matAutocomplete]="autoEmployee"
                            formControlName='projectManagerName'>

                        <mat-autocomplete #autoEmployee="matAutocomplete">
                            <mat-option *ngFor="let user of filteredEmpName | async" [value]="user.name">
                                <span><strong>{{user.name}}</strong></span>
                                <small><em> ({{user.email}})</em></small>

                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="Location">Region *</label>
                </div>
                <div class="col-md-8">
                    <select class="form-control" formControlName="region" (change)="onchangeLocation()">
                        <option *ngFor="let reg of regionList" [value]="reg">
                            {{ reg }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="Location">Entity *</label>
                </div>
                <div class="col-md-8">
                    <select class="form-control" formControlName="entity" (change)="onchangeLocation()">
                        <option *ngFor="let ent of entityList" [value]="ent">
                            {{ ent }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="Classification">Classification *</label>
                </div>
                <div class="col-md-8">
                    <select class="form-control" formControlName="classification" (change)="onchangeLocation()">
                        <option *ngFor="let cls of classificationList" [value]="cls">
                            {{ cls }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="ProjectDescription">
                        Project Description *</label>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control" width="100%" cols="100%" rows="5"
                        formControlName="projectDescription"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="StartContruction">Start Construction *</label>
                </div>
                <div class="col-md-8">
                    <input type="date" name="date" class="form-control" formControlName="startContruction" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="StartUpDate">Start-up Date *</label>
                </div>
                <div class="col-md-8">
                    <input type="date" name="date" class="form-control" formControlName="startUpDate" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="EconomicLife">Economic Life in Years *</label>
                </div>
                <div class="col-md-4">
                    <input type="number" formControlName="economicLife" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="ProjectIRR">Project IRR % (if applicable)</label>
                </div>
                <div class="col-md-4">
                    <input type="number" formControlName="projectIRR" class="form-control" />
                </div>%
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="ProjectCashPaybackYears">
                        Project Cash Payback Years (if applicable)</label>
                </div>
                <div class="col-md-8">
                    <input type="text" formControlName="projectCashPaybackYears" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="ProjectROC">Project ROC % (if applicable)</label>
                </div>
                <div class="col-md-4">
                    <input type="number" formControlName="projectROC" class="form-control" />
                </div>%
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="ACTAmount">ACT Amount in $ USD *</label>
                </div>
                $<div class="col-md-4">
                    <input type="number" formControlName="actAmount" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="ACTNumber">
                        ACT # (if known)</label>
                </div>
                <div class="col-md-8">
                    <input type="text" formControlName="actNumber" class="form-control" />
                    to be provided by Finance
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="DoesNeedEHSReview">
                        Does this ACT need EH&S review?</label>
                </div>
                <div class="col-md-8">
                    <input type="checkbox" value="false" formControlName="doesNeedEHSReview" class="form-option">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="InvesmentCategory">Investment Category *</label>
                </div>
                <div class="col-md-8">
                    <select class="form-control" formControlName="invesmentCategory">
                        <option *ngFor="let investment of investmentCategoryList" [value]="investment.investmentName">
                            {{ investment.investmentName }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="BudgetCategory">Budget Category *</label>
                </div>
                <div class="col-md-8">
                    <select class="form-control" formControlName="budgetCategory">
                        <option *ngFor="let budgetCategory of budgetCategoryList"
                            [value]="budgetCategory.categoryDescription">
                            {{ budgetCategory.categoryDescription }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="ACTAccountNumber">
                        ACT G/L account number</label>
                </div>
                <div class="col-md-8">
                    <input type="text" formControlName="actAccountNumber" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4"><label for="attachFile">Attachments</label></div>
                <div class="col-md-8">
                    <div>
                        <input class="form-control" #attachmentsAffected type="file"
                            (change)="onFileChangeAffected($event)" #fileInput multiple="true">
                        <br />
                    </div>
                    <div *ngFor="let selectedAffected of listOfFilesAffected;let index = index">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    {{selectedAffected}}
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-danger"
                                        (click)="removeSelectedFileAffected(index)">[remove]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let selectedAffected of listOfFilesAffectedSaved;let index = index">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="divclick"
                                        (click)="downloadAttachment(selectedAffected.filename,selectedAffected.itemID)">
                                        {{selectedAffected.filename}} </div>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-danger"
                                        (click)="deleteAttachedAffectedFileSaved(index,selectedAffected.filename)">[remove]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group right-align">
            <div>
            </div>
            <div>
                <button type="button" class="btn btn-info" [disabled]="!(heroForm.valid)" name="ok"
                    (click)='onOk()'>Save</button>
                <button type="button" class="btn btn-info" name="cancel" (click)='onCancel()'>Cancel</button>
                <button type="button" *ngIf="param > 0" class="btn btn-info" name="resend" (click)='onResend()'>Resend</button>
                <button type="button" *ngIf="param > 0" class="btn btn-danger" name="delete"
                    (click)='onDelete()'>Delete</button>
            </div>
        </div>
    </form>
</div>